#DHCPD_CONF TEMPLATE

#DDNS Setup
option domain-name "streisand.clients.homelab.";
option domain-name-servers 10.16.16.8;
ddns-updates           on;
ddns-update-style      interim;
ignore                  client-updates;
update-static-leases    on;

#Cobbler Setup
set vendorclass = option vendor-class-identifier;
option client-system-arch code 93 = unsigned integer 16;

#BOOTP Stuff
allow booting;
allow bootp;
option option-128 code 128= string;
option option-129 code 129= text;
next-server 10.16.16.135;
filename "pxelinux.0";

#Generic Settings
default-lease-time 600;
max-lease-time 7200;
authoritative;
log-facility local7;

include "/etc/dhcp/ddns.key";

zone servers.streisand.ovh. {
 primary 10.16.16.8;
 key DDNS_UPDATE;
}

zone 16.10.in-addr.arpa. {
 primary 10.16.16.8;
 key DDNS_UPDATE;
}

{% for networks in subnets %}

  {{ networks }}

{% endfor %}

subnet 10.16.0.0 netmask 255.255.240.0 {
  option routers 10.16.0.2;
  option broadcast-address 10.16.16.255;
  option subnet-mask 255.255.240.0;
  range 10.16.0.100 10.16.0.254;
  default-lease-time 300;
}

subnet 10.16.16.0 netmask 255.255.240.0 {
  option routers 10.16.16.1;
  option broadcast-address 10.16.31.255;
  option subnet-mask 255.255.240.0;
  option domain-name-servers 1.1.1.1;
  range 10.16.16.2 10.16.31.255;
  default-lease-time 300;
}

subnet 10.16.32.0 netmask 255.255.240.0 {
  option routers 10.16.32.1;
  option broadcast-address 10.16.47.255;
  option subnet-mask 255.255.240.0;
  range 10.16.32.2 10.16.47.254;
  default-lease-time 300;
}

subnet 10.16.48.0 netmask 255.255.240.0 {
  option routers 10.16.48.1;
  option broadcast-address 10.16.63.255;
  option subnet-mask 255.255.240.0;
  range 10.16.48.10 10.16.63.254;
  default-lease-time 300;
}

subnet 10.16.64.0 netmask 255.255.240.0 {
  option routers 10.16.64.1;
  option broadcast-address 10.16.64.255;
  option subnet-mask 255.255.240.0;
  range 10.16.64.2 10.16.64.254;
  default-lease-time 300;
}

subnet 10.16.80.0 netmask 255.255.240.0 {
  option routers 10.16.80.1;
  option broadcast-address 10.16.80.255;
  option subnet-mask 255.255.240.0;
  range 10.16.80.2 10.16.80.254;
  default-lease-time 300;
}

subnet 10.16.96.0 netmask 255.255.240.0 {
  option routers 10.16.96.1;
  option broadcast-address 10.16.96.255;
  option subnet-mask 255.255.240.0;
  range 10.16.96.2 10.16.96.254;
  default-lease-time 300;
}

subnet 10.16.112.0 netmask 255.255.240.0 {
  option routers 10.16.112.1;
  option broadcast-address 10.16.112.255;
  option subnet-mask 255.255.240.0;
  range 10.16.112.2 10.16.112.254;
  default-lease-time 300;
}

subnet 10.16.128.0 netmask 255.255.240.0 {
  option routers 10.16.128.1;
  option broadcast-address 10.16.128.255;
  option subnet-mask 255.255.240.0;
  next-server 10.16.128.7;
  filename "pxelinux.0";
  range 10.16.128.131 10.16.128.190;
  default-lease-time 300;
}

subnet 10.16.144.0 netmask 255.255.240.0 {
  option routers 10.16.144.1;
  option broadcast-address 10.16.144.255;
  option subnet-mask 255.255.240.0;
  range 10.16.144.2 10.16.144.254;
  default-lease-time 300;
}

subnet 10.16.160.0 netmask 255.255.240.0 {
  option routers 10.16.160.1;
  option broadcast-address 10.16.160.255;
  option subnet-mask 255.255.240.0;
  range 10.16.160.2 10.16.160.254;
  default-lease-time 300;
}

subnet 10.16.176.0 netmask 255.255.240.0 {
  option routers 10.16.176.1;
  option broadcast-address 10.16.176.255;
  option subnet-mask 255.255.240.0;
  range 10.16.176.2 10.16.176.254;
  default-lease-time 300;
}

subnet 10.16.192.0 netmask 255.255.240.0 {
  option routers 10.16.192.1;
  option broadcast-address 10.16.192.255;
  option subnet-mask 255.255.240.0;
  range 10.16.192.2 10.16.192.254;
  default-lease-time 300;
}

subnet 10.16.208.0 netmask 255.255.240.0 {
  option routers 10.16.208.1;
  option broadcast-address 10.16.223.255;
  option subnet-mask 255.255.240.0;
  range 10.16.208.2 10.16.223.254;
  default-lease-time 300;
}
